@import "tailwindcss";

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueBold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-stretch: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueMedium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-stretch: normal;
}

* {
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: 500;
}