---
import Icon from '../components/Icon.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="flex flex-col items-center justify-center h-screen">
		<Icon />
		<a href={`${import.meta.env.BASE_URL}catalog`} class="text-2xl font-bold text-gray-500 underline">Футболки</a>
	</div>
</Layout>
